@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap.less');

.bug-report {
    font-family: 'Dela Gothic One', cursive;
}

.header.content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header.content .block-search {
    flex: 1 1 auto;
}

.header.content .block-search .block-title {
    display: none;
}

.block-search .action.search {
    right: auto !important;
    margin-right: 0 !important;
}

#search_mini_form {
    width: 50%;
}

.header.content .block-search input[type="text"] {
    width: 100%;
}
.block-search .action.search {
    left: 48%;
    right: auto;
}
